@import url(https://fonts.googleapis.com/css?family=Sora:100,200,300,400,500,600,700,800&display=swap);





body {
  font-family: Sora;
}
.display-1 {
  font-family: 'Sora', sans-serif;
  font-size: 3.8rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 3.8rem;
}
.display-2 {
  font-family: 'Sora', sans-serif;
  font-size: 2.4rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-4 {
  font-family: 'Sora', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1rem;
}
.display-5 {
  font-family: 'Sora', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.8rem;
}
.display-7 {
  font-family: 'Sora', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.4rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.04rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.66rem;
    font-size: calc( 1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.92rem;
    font-size: calc( 1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.mbr-section-btn .btn:hover {
  padding-right: 2rem;
  padding-left: 2rem;
}
.mbr-section-btn .btn:hover .mbr-iconfont {
  padding-left: 0.5rem;
}
.btn {
  padding: 0.5rem 1.4rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #277feb !important;
}
.bg-success {
  background-color: #6592e6 !important;
}
.bg-info {
  background-color: #59bb93 !important;
}
.bg-warning {
  background-color: #27b7eb !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #277feb !important;
  border-color: transparent  !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #6f5ad3 !important;
  border-color: transparent  !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #1366cc !important;
  border-color: transparent !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #6f5ad3 !important;
  border-color: transparent  !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #6f5ad3 !important;
  border-color: transparent  !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #4e35c5 !important;
  border-color: transparent !important;
}
.btn-info,
.btn-info:active {
  background-color: #59bb93 !important;
  border-color: transparent  !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #6f5ad3 !important;
  border-color: transparent  !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #41a079 !important;
  border-color: transparent !important;
}
.btn-success,
.btn-success:active {
  background-color: #6592e6 !important;
  border-color: transparent  !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #6f5ad3 !important;
  border-color: transparent  !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #3973df !important;
  border-color: transparent !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #27b7eb !important;
  border-color: transparent  !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #6f5ad3 !important;
  border-color: transparent  !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #139bcc !important;
  border-color: transparent !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: transparent  !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #6f5ad3 !important;
  border-color: transparent  !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff7733 !important;
  border-color: transparent !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: transparent  !important;
  color: #7a7a7a !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #616161 !important;
  background-color: #6f5ad3 !important;
  border-color: transparent  !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #e1e1e1 !important;
  border-color: transparent !important;
}
.btn-white:hover {
  color: #fafafa !important;
}
.btn-white:hover,
.btn-white:hover:active {
  background-color: #333333 !important;
  border-color: transparent  !important;
  color: #ffffff !important;
}
.btn-white:hover:hover,
.btn-white:hover:focus,
.btn-white:hover.focus,
.btn-white:hover.active {
  color: #ffffff !important;
  background-color: #6f5ad3 !important;
  border-color: transparent  !important;
}
.btn-white:hover.disabled,
.btn-white:hover:disabled {
  color: #ffffff !important;
  background-color: #1a1a1a !important;
  border-color: transparent !important;
}
.btn-black {
  color: #fafafa !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: transparent  !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #6f5ad3 !important;
  border-color: transparent  !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #1a1a1a !important;
  border-color: transparent !important;
}
.btn-black:hover {
  color: #333333 !important;
}
.btn-black:hover,
.btn-black:hover:active {
  background-color: #fafafa !important;
  border-color: transparent  !important;
  color: #7a7a7a !important;
}
.btn-black:hover:hover,
.btn-black:hover:focus,
.btn-black:hover.focus,
.btn-black:hover.active {
  color: #616161 !important;
  background-color: #6f5ad3 !important;
  border-color: transparent  !important;
}
.btn-black:hover.disabled,
.btn-black:hover:disabled {
  color: #7a7a7a !important;
  background-color: #e1e1e1 !important;
  border-color: transparent !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #277feb;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #1366cc !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #277feb !important;
  border-color: #277feb !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6f5ad3;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #4e35c5 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #6f5ad3 !important;
  border-color: #6f5ad3 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #59bb93;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #41a079 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #59bb93 !important;
  border-color: #59bb93 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6592e6;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3973df !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #27b7eb;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #139bcc !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #27b7eb !important;
  border-color: #27b7eb !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff7733 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background-color: transparent;
  border-color: transparent;
  color: #333333;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #fafafa;
  background-color: transparent;
  border-color: transparent;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background-color: transparent;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: transparent;
  border-color: transparent;
}
.text-primary {
  color: #277feb !important;
}
.text-secondary {
  color: #6f5ad3 !important;
}
.text-success {
  color: #6592e6 !important;
}
.text-info {
  color: #59bb93 !important;
}
.text-warning {
  color: #27b7eb !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #333333 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #1366cc !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #4e35c5 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #3973df !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #41a079 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #139bcc !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff7733 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #ffffff !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #4d4d4d !important;
}
.nav-tabs .nav-link.active {
  color: #277feb;
}
.nav-tabs .nav-link:not(.active) {
  color: #333333;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #59bb93;
}
.alert-warning {
  background-color: #27b7eb;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #277feb;
  border-color: #277feb;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #277feb;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e2eefc;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b3e0ce;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #e2f5fc;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Sora', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #277feb !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Sora', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1rem;
}
blockquote {
  border-color: #277feb;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #277feb;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #277feb;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #777d74;
  border-bottom-color: #777d74;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #277feb;
  border-bottom-color: #277feb;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #277feb !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #6f5ad3 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23277feb' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-spl1G7qLm0 {
  z-index: 1000;
  width: 100%;
}
.cid-spl1G7qLm0 nav.navbar {
  position: fixed;
}
.cid-spl1G7qLm0 .nav-link {
  position: relative;
}
.cid-spl1G7qLm0 .nav-link:before {
  content: '';
  bottom: -2px;
  left: 5px;
  width: 0%;
  height: 1px;
  opacity: 0;
  transition: all 0.3s;
  background: currentColor;
  position: absolute;
}
.cid-spl1G7qLm0 .nav-link:hover:before {
  width: 50%;
  opacity: 1;
}
.cid-spl1G7qLm0 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-spl1G7qLm0 .dropdown-menu {
  padding: 0;
}
.cid-spl1G7qLm0 .dropdown-item:hover,
.cid-spl1G7qLm0 .dropdown-item:focus {
  background: #277feb !important;
  color: white !important;
}
.cid-spl1G7qLm0 .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-spl1G7qLm0 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-spl1G7qLm0 .container {
  display: flex;
  margin: auto;
}
.cid-spl1G7qLm0 .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-spl1G7qLm0 .navbar-caption {
  padding-right: 4rem;
}
.cid-spl1G7qLm0 .dropdown-menu,
.cid-spl1G7qLm0 .navbar.opened {
  background: #ffffff !important;
}
.cid-spl1G7qLm0 .nav-item:focus,
.cid-spl1G7qLm0 .nav-link:focus {
  outline: none;
}
.cid-spl1G7qLm0 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-spl1G7qLm0 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-spl1G7qLm0 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-spl1G7qLm0 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-spl1G7qLm0 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-spl1G7qLm0 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-spl1G7qLm0 .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
}
.cid-spl1G7qLm0 .navbar.opened {
  transition: all .3s;
}
.cid-spl1G7qLm0 .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-spl1G7qLm0 .navbar .navbar-logo img {
  width: auto;
}
.cid-spl1G7qLm0 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-spl1G7qLm0 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-spl1G7qLm0 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-spl1G7qLm0 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-spl1G7qLm0 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-spl1G7qLm0 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-spl1G7qLm0 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-spl1G7qLm0 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-spl1G7qLm0 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-spl1G7qLm0 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-spl1G7qLm0 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-spl1G7qLm0 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-spl1G7qLm0 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-spl1G7qLm0 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-spl1G7qLm0 .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-spl1G7qLm0 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-spl1G7qLm0 .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-spl1G7qLm0 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-spl1G7qLm0 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-spl1G7qLm0 .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-spl1G7qLm0 .navbar.navbar-short {
  min-height: 60px;
}
.cid-spl1G7qLm0 .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-spl1G7qLm0 .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-spl1G7qLm0 .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-spl1G7qLm0 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-spl1G7qLm0 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-spl1G7qLm0 .dropdown-item.active,
.cid-spl1G7qLm0 .dropdown-item:active {
  background-color: transparent;
}
.cid-spl1G7qLm0 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-spl1G7qLm0 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-spl1G7qLm0 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-spl1G7qLm0 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-spl1G7qLm0 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-spl1G7qLm0 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-spl1G7qLm0 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-spl1G7qLm0 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-spl1G7qLm0 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-spl1G7qLm0 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: currentColor;
}
.cid-spl1G7qLm0 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-spl1G7qLm0 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-spl1G7qLm0 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-spl1G7qLm0 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-spl1G7qLm0 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-spl1G7qLm0 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-spl1G7qLm0 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-spl1G7qLm0 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-spl1G7qLm0 .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-spl1G7qLm0 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-spl1G7qLm0 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-spl1G7qLm0 .navbar {
    height: 77px;
  }
  .cid-spl1G7qLm0 .navbar.opened {
    height: auto;
  }
  .cid-spl1G7qLm0 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-spl1bgXmgL {
  padding-top: 18rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/mbr-1920x1272.jpg");
}
.cid-spl1bgXmgL .mbr-text,
.cid-spl1bgXmgL .mbr-section-btn {
  color: #277feb;
  text-align: center;
}
@media (max-width: 991px) {
  .cid-spl1bgXmgL .mbr-section-title,
  .cid-spl1bgXmgL .mbr-section-btn,
  .cid-spl1bgXmgL .mbr-text {
    text-align: center;
  }
}
.cid-spl1bgXmgL .mbr-section-subtitle {
  color: #277feb;
}
.cid-spl1bgXmgL .mbr-section-btn {
  padding-top: 13rem;
}
.cid-spl10sTHhv {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #ffffff;
}
.cid-spl10sTHhv .card-wrapper {
  display: flex;
  overflow: visible;
}
.cid-spl10sTHhv .icon {
  font-size: 5rem;
  color: #ffd96a;
  padding-right: 0rem;
  margin-top: -1rem;
  display: block;
}
.cid-spl10sTHhv .card-box {
  margin-left: -1rem;
}
.cid-spl10sTHhv .card-title {
  color: #000000;
}
.cid-spl10sTHhv .card-text {
  color: #000000;
}
@media (max-width: 767px) {
  .cid-spl10sTHhv .align-right,
  .cid-spl10sTHhv .align-left {
    text-align: center;
  }
  .cid-spl10sTHhv .card-wrapper {
    flex-direction: column;
  }
  .cid-spl10sTHhv .icon,
  .cid-spl10sTHhv .card-box {
    margin: 0rem;
  }
  .cid-spl10sTHhv .icon {
    margin: auto;
    margin-bottom: 1rem;
  }
}
#custom-html-8 {
  /* Type valid CSS here */
}
#custom-html-8 div {
  padding: 80px 0;
  color: #777;
  text-align: center;
}
#custom-html-8 p {
  font-size: 60px;
  color: #777;
}
.cid-spl2PgBsC5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-spl2PgBsC5 .mbr-text,
.cid-spl2PgBsC5 .mbr-section-btn {
  color: #59bb93;
  text-align: center;
}
@media (max-width: 991px) {
  .cid-spl2PgBsC5 .mbr-section-title,
  .cid-spl2PgBsC5 .mbr-section-btn,
  .cid-spl2PgBsC5 .mbr-text {
    text-align: center;
  }
}
.cid-spl2PgBsC5 .mbr-section-subtitle {
  color: #000000;
}
.cid-spl7gaTLCR {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #ffffff;
}
.cid-spl7gaTLCR .card-wrapper {
  display: flex;
  overflow: visible;
}
.cid-spl7gaTLCR .icon {
  font-size: 5rem;
  color: #ffd96a;
  padding-right: 0rem;
  margin-top: -1rem;
  display: block;
}
.cid-spl7gaTLCR .card-box {
  margin-left: -1rem;
}
.cid-spl7gaTLCR .card-title {
  color: #000000;
}
.cid-spl7gaTLCR .card-text {
  color: #000000;
}
@media (max-width: 767px) {
  .cid-spl7gaTLCR .align-right,
  .cid-spl7gaTLCR .align-left {
    text-align: center;
  }
  .cid-spl7gaTLCR .card-wrapper {
    flex-direction: column;
  }
  .cid-spl7gaTLCR .icon,
  .cid-spl7gaTLCR .card-box {
    margin: 0rem;
  }
  .cid-spl7gaTLCR .icon {
    margin: auto;
    margin-bottom: 1rem;
  }
}
.cid-spl26wgnEk {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-spl26wgnEk .row-links {
  width: 100%;
  justify-content: flex-end;
}
@media (max-width: 992px) {
  .cid-spl26wgnEk .row-links {
    justify-content: center;
  }
}
.cid-spl26wgnEk .container {
  max-width: 1750px;
}
@media (min-width: 767px) {
  .cid-spl26wgnEk .container {
    padding: 0 2rem;
  }
}
.cid-spl26wgnEk .media-container-row {
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.cid-spl26wgnEk .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-spl26wgnEk .media-container-row .foot-menu li {
  padding: 0 1rem;
}
.cid-spl26wgnEk .media-container-row .foot-menu li p {
  margin: 0;
}
@media (max-width: 992px) {
  .cid-spl26wgnEk .media-container-row .foot-menu {
    justify-content: center;
  }
}
.cid-spl26wgnEk .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-spl26wgnEk .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-spl26wgnEk .mbr-text {
  text-align: left;
  color: #333333;
}
@media (max-width: 992px) {
  .cid-spl26wgnEk .mbr-text {
    text-align: center;
    padding-top: 1rem;
  }
}
.cid-spl26wgnEk .mbr-copirayt {
  color: #333333;
}
